.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ProjectsCard {
  border: 1px solid var(--dark-gray);
  max-width: 700px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 25px;
}

.ProjectsCard a {
  text-decoration: none;
}

.ProjectsCard-left {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 20px 0;
  align-items: center;
  min-width: 330px;
}

.ProjectsCard-left img {
  border-radius: 3px;
  max-width: 300px;
  max-height: 170px;
}

.ProjectsCard-left-info {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 20px;
  padding: 20px 0;
}

.ProjectsCard-left-info-left {
  font-size: 18px;
  color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
}

.ProjectsCard-left-info-right {
  text-align: left;
  font-family: 'Varela Round';
  font-size: 16px;
  max-width: 140px;
}

.ProjectsCard-left a:hover {
  text-decoration: none;
}

.ProjectsCard-left-buttons {
  display: flex;
}

.ProjectsCard-left-buttons-button {
  width: 100px;
  display: flex;
  height: 30px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  gap: 6px;
  background-color: var(--light-purple)!important;
}

.ProjectsCard-left-buttons-button:hover {
  background-color: var(--dark-purple)!important; 
  transition: 0.3s;
}

.ProjectsCard-left-buttons-button span {
  font-size: 16px;
  font-weight: 600;
  color: #f5f5f5;
  padding-bottom: 3px;
}

.ProjectsCard-center {
  height: 300px;
  min-width: 1px;
}

.ProjectsCard-right {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 30px;
}

.ProjectsCard-right-header {
  font-size: 30px;
  font-weight: bold;
  color: #f5f5f5;
}

.ProjectsCard-right p {
  font-size: 15px;
  color: #f5f5f5;
  text-align: left;
}

.ProjectsCard-right a:hover {
  text-decoration: underline;
}

.ProjectsCardMobile {
  border: 1px solid var(--dark-gray);
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  align-items: center;
  border-radius: 5px;
  margin: 25px;
}

.ProjectsCardMobile a {
  text-decoration: none;
}

.ProjectsCardMobile-center {
  width: 200px;
  height: 1px;
  margin: 15px 0;
}

.ProjectsCardMobile-header {
  font-size: 24px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  color: #f5f5f5;
}

.ProjectsCardMobile p {
  font-size: 15px;
  color: #f5f5f5;
  text-align: left;
  font-family: 'Varela Round';
  margin: 0;
}

.ProjectsCardMobile-grid {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 12px;
  padding: 15px 0;
}

.ProjectsCardMobile-grid-left {
  font-size: 14px;
  color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
}

.ProjectsCardMobile-grid-right {
  text-align: left;
  font-family: 'Varela Round';
  color: var(--light-purple) !important;
  font-size: 12px;
  max-width: 140px;
}

.ProjectsCardMobile-buttons {
  display: flex;
  height: 34px;
  border-radius: 16.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-purple)!important;
}